.container{
    height: 150px;
    width: 87vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-top: -100px;
}

.espaco{
    background-color: #fff;
    width: 72vw;
    height: 150px;
    border-radius: 10px;
}