.footer{
    background-color: #265c5f;
    color: #fff;
    padding: 3em;
    text-align: center;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.list{
    margin: 0 1em;
    color: #fcfcfc;
}

.list :hover{
    color: #FFBE3D;
}

.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right{
    margin-top: 2em;
}

.copy_right span{
    font-weight: bold;
    color: #FFBE3D;
}