.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #265c5f;
  padding: 1.5em;
}

.img {
  width: 200px;
  margin-top: px;
}

.div_img {
  height: 10px;
}

.div_img :hover {
  border-radius: 10px;
  background: linear-gradient(145deg, #296266, #225356);
  box-shadow: 20px 20px 40px #2e3c4e, -5px -5px 40px #1f7c70;
}

.login {
  width: 50px;
  border-radius: 10px;
  margin: 0 0 0 20px;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.list_login {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0 0 0 20px;
}

.item {
  margin-right: 1em;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a:hover {
  color: #FFBE3D;
}
